input {
  width: 50%;
  height: 8%;
  border: none;
  font-size: 200%;
  border-radius: 0;
  -webkit-appearance: none;
  @include border-radius(0);
  background-color: whitesmoke;
}

body {
  background-color: midnightblue;
  color: whitesmoke;
}

iframe {
  width:0;
  height:0;
  border:none
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 15vh;
}

.generalButton {
  height: 10vh;
  width: 30vw;
  background: black;
  color: whitesmoke;
}

.navbar {
  padding: 10px;
}

.navbar input {
  width: 100%;
  height: 10vh;
  font-size: 4em;
  background: black;
  color: whitesmoke;
}

.loader {
  border: 16px solid whitesmoke; /* Light grey */
  border-top: 16px solid midnightblue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.motionImage {
  min-height: 50vh;
  max-width: 95vw;
  width: auto;
  padding-bottom: 20px;
}